[FileDialog]
shortcuts=file:///home/{{ HOME }}/Documents, file:///home/{{ HOME }}/Downloads, file:///home/{{ HOME }}/Pictures, file:///home/{{ HOME }}/Videos, file:///home/{{ HOME }}/Music, file:///home/{{ HOME }}/Sync
sidebarWidth=127
viewMode=Detail